<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99118949757-npsbht9htn84gbugoiqkn67v15usvss5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99118949757-npsbht9htn84gbugoiqkn67v15usvss5</string>
	<key>API_KEY</key>
	<string>AIzaSyBitXD2-BTolRn3RbIUe9bozt14RFBfq1g</string>
	<key>GCM_SENDER_ID</key>
	<string>99118949757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seysmoprognoz</string>
	<key>PROJECT_ID</key>
	<string>seysmoprognoz</string>
	<key>STORAGE_BUCKET</key>
	<string>seysmoprognoz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99118949757:ios:886410a2dd4de92f28d814</string>
</dict>
</plist>